<!-- Author popup -->
<div id="author-modal" class="modal-window">
    <div>
        <a title="Close" class="modal-close" onclick="close_author_modal()">Close</a>
        <h1>Authors</h1>
        <div>
            <form class="book-form">
                <div class="form-element">
                    <label>First Name</label>
                    <input id="first_name" type="text" name="first_name" placeholder="">
                </div>
                <div class="form-element">
                    <label>Last Name</label>
                    <input id="last_name" type="text" name="last_name" placeholder="">
                </div>
                <div class="form-element">
                    <label>Email</label>
                    <input id="email" type="text" name="email" placeholder="">
                </div>
                <input type="button" name="" value="Submit" onclick="submit_author_modal_form()">
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    function open_author_modal(){
        $('#author-modal').addClass('block');
    }
    function close_author_modal(){
        $('#first_name').val('');
        $('#last_name').val('');
        $('#email').val('');
        $('#author-modal').removeClass('block');
    }
    function submit_author_modal_form(){
        var author_data = {
            "first_name":$('#first_name').val(),
            "last_name":$('#last_name').val(),
            "email":$('#email').val()
        };

	    $.ajax({
            method: 'POST',
            url: '/authorsapi/common_operations/',
            //async: false,
            contentType: "application/json",
            data : JSON.stringify(author_data),
            beforeSend:function(xhr, settings) {
                  function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                      break;
                                  }
                              }
                          }
                          return cookieValue;
                      }
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                  },
            success: function(data){
                alert("Successfully Save.");
                close_modal();
            },
            error: function(xhr, desc, err){
               try{
                  alert(xhr.responseText);
                  console.log(xhr.responseText, desc, err);
                }catch(err) {
                  console.log(xhr.responseText, desc, err);
                }
            }
        });
    }
</script>