<h2>{{ title }}</h2>
<form id="book_form" class="book-form" action="/book-new/" method="post">
    {% csrf_token %}
    <div style="width: 65%; float: left;">
        <input type="hidden"  id="book_id" name="book_id"  value="{{ book_details.id }}" >
        <div class="form-element">
            <label>Book Name</label>
            <input id="book-name" type="text" name="book_name" placeholder="Book Name" value="{{ book_details.book_name }}">
        </div>

        <div class="form-element autocomplete">
            <label>Publisher</label>
            <input id="book_publisher_name" type="text"  placeholder="Book Publisher" {{ book_details.publisher.publisher_name }}>
            <input type="hidden"  id="publisher_id" name="publisher_id"  >
        </div>

        <div class="form-element">
            <label>Authors</label>
            <select id="book-type" name="book_authors" multiple style="height: 150px">
                {% for item in authors_list %}
                    <option value="{{ item.id }}">{{ item.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-element">
            <label>Book Category</label>
            <select id="book-type" name="book_category">
                <option>Please Select</option>
                {% for category in categories_list %}
                    <option value="{{ category.id }}" {% if category.id == book_category.id %} selected {% endif %}>{{ category.cat_name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-element">
            <label>Book available in language</label>
            <input type="radio" name="book_language" value="Hindi"><span>Hindi</span>
            <input type="radio" name="book_language" value="English"><span>English</span>
            <input type="radio" name="book_language" value="Other"><span>Other: </span>
            <input style="width: 200px; display: inline; margin-top: -7px;" id="book-name" type="text" name="book_language_other_value" placeholder="Other Language">
        </div>

        <div class="form-element">
            <label>Book availability</label>
            <input type="checkbox" name="book_availability" value="Online Reading" ><span>Online Reading</span>
            <input type="checkbox" name="book_availability" value="In Library" ><span>In Library</span>
            <input type="checkbox" name="book_availability" value="On Rent" ><span>On Rent</span>
            <input type="checkbox" name="book_availability" value="For Sell" ><span>For Sell</span>
        </div>

    </div>
    <div style="width: 35%; float: left; padding: 30px 0 10px 30px; box-sizing: border-box;">
        <div class="image-wrapper">
            <img src="/static/images/dummy_img.jpg" id="uploaded-img">
        </div>
        <div class="mt-20" style="text-align: center;">            
            <label class="upload-file" for="upload_img" >Upload Book Image</label>
            <input type="file" name="" id="upload_img" style="display: none;" onchange="readURL(this);">
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="form-element">
        <label>Book Description</label>
        <textarea name="book_description" placeholder="Description Here" rows="7">{{ book_details.book_description }}</textarea>
    </div>

    <input type="button" name="" value="Submit"  onclick="submit_book_detail('{{ mode }}')">

</form>


<script type="text/javascript">
    function submit_book_detail(){
        update_publisher_id();
		document.getElementById("book_form").submit();
	}
	function update_publisher_id(){
        var publisher_id = null;
        var book_publisher_name = document.getElementById('book_publisher_name').value;
        for (var i = 0, l = publishers_data.length; i < l; i++) {
            var obj = publishers_data[i];
            if(obj.name == book_publisher_name){
                publisher_id = obj.id;
                break;
            }
        }
        document.getElementById("publisher_id").value = publisher_id;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              // alert(1);
                document.getElementById('uploaded-img').setAttribute("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    
    // js for menu highlight
    var element = document.getElementById("new-book");
    element.classList.add("active");




    // auto complete js
    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }

    /*An array containing all the country names in the world:*/
    //var publisher = ["Afghanistan","Albania","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Belize","Benin","Bermuda","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia"];
    var publisher = [];
    var publishers_data = [];
    {% for item in publishers_name_list %}
        publisher.push("{{ item.publisher_name }}")
        publishers_data.push({'id': "{{ item.id }}", 'name': "{{ item.publisher_name }}"})
    {% endfor %}
    console.log(publisher)
    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("book_publisher_name"), publisher);
</script>