<h2 class="mb-10">{{ title }}</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Book Language</th>
            <th>Book Availability</th>
            <th>Book Description</th>
            <th>Book Category</th>
            <th>Book publisher</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books_list %}
        <tr>
            <td><b>{{ book.book_name }}</b></td>
            <td>{{ book.book_language }}</td>
            <td>{{ book.book_availability}}</td>
            <td>{{ book.book_description}}</td>
            <td>{{ book.book_category.cat_name}}</td>
            <td>{{ book.publisher.publisher_name}}, {{ book.publisher.address}}</td>
            <td><a class="mr-5" href="view/{{ book.id }}">View</a>
                <a class="mr-5" href="edit/{{ book.id }}">Edit</a>
                <a class="mr-5" href="delete/{{ book.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--
<div class="pagination">
    <span><</span>
    <span class="active">1</span>
    <span>2</span>
    <span>3</span>
    <span>></span>
</div>
-->


<script type="text/javascript">
    // js for menu highlight
    var element = document.getElementById("book-list");
    element.classList.add("active");
</script>