<!-- Author popup -->
<div id="publisher-modal" class="modal-window">
    <div>
        <a title="Close" class="modal-close" onclick="close_publisher_modal()">Close</a>
        <h1>Publisher</h1>
        <div>
            <form class="book-form">
                <div class="form-element">
                    <label>Publisher Name</label>
                    <input id="publisher_name" type="text" name="publisher_name" placeholder="">
                </div>
                <div class="form-element">
                    <label>address</label>
                    <input id="address" type="text" name="address" placeholder="">
                </div> 
                <input type="button" name="" value="Submit" onclick="submit_publisher_modal_form()">
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    function open_publisher_modal(){
        $('#publisher-modal').addClass('block');
    }
    function close_publisher_modal(){
        $('#publisher_name').val('');
        $('#address').val('');
        $('#publisher-modal').removeClass('block');
    }
    function submit_publisher_modal_form(){
        var publisher_data = {
            "publisher_name":$('#publisher_name').val(),
            "address":$('#address').val()
        };

	    $.ajax({
            method: 'POST',
            url: '/publisherapi/common_operations/',
            //async: false,
            contentType: "application/json",
            data : JSON.stringify(publisher_data),
            beforeSend:function(xhr, settings) {
                  function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                      break;
                                  }
                              }
                          }
                          return cookieValue;
                      }
                      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                  },
            success: function(data){
                alert("Successfully Save.");
                close_publisher_modal();
            },
            error: function(xhr, desc, err){
               try{
                  alert(xhr.responseText);
                  console.log(xhr.responseText, desc, err);
                }catch(err) {
                  console.log(xhr.responseText, desc, err);
                }
            }
        });
    }
</script>